name: Create OCI Instance

on:
  schedule:
    - cron: '*/5 * * * *'
  workflow_dispatch:

jobs:
  create:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    
    - name: Setup PHP
      uses: shivammathur/setup-php@v2
      with:
        php-version: '8.3'
    
    - name: Install dependencies
      run: composer install --no-dev
    
    - name: Create .env
      run: |
        cat > .env << 'EOF'
        OCI_REGION=${{ secrets.OCI_REGION }}
        OCI_USER_ID=${{ secrets.OCI_USER_ID }}
        OCI_TENANCY_ID=${{ secrets.OCI_TENANCY_ID }}
        OCI_KEY_FINGERPRINT=${{ secrets.OCI_KEY_FINGERPRINT }}
        OCI_PRIVATE_KEY_FILENAME=${{ secrets.OCI_PRIVATE_KEY_FILENAME }}
        OCI_SUBNET_ID=${{ secrets.OCI_SUBNET_ID }}
        OCI_IMAGE_ID=${{ secrets.OCI_IMAGE_ID }}
        OCI_OCPUS=${{ secrets.OCI_OCPUS }}
        OCI_MEMORY_IN_GBS=${{ secrets.OCI_MEMORY_IN_GBS }}
        OCI_SHAPE=${{ secrets.OCI_SHAPE }}
        OCI_MAX_INSTANCES=${{ secrets.OCI_MAX_INSTANCES }}
        OCI_SSH_PUBLIC_KEY="${{ secrets.OCI_SSH_PUBLIC_KEY }}"
        OCI_AVAILABILITY_DOMAIN=
        CACHE_AVAILABILITY_DOMAINS=${{ secrets.CACHE_AVAILABILITY_DOMAINS }}
        OCI_BOOT_VOLUME_SIZE_IN_GBS=${{ secrets.OCI_BOOT_VOLUME_SIZE_IN_GBS }}
        EOF
    
    - name: Run script
      run: php index.php